<div class="container">


        <div class="row justify-content-center">
            
            
            <p-toast key="myKey1"></p-toast>
            <p-toast key="myKey1"></p-toast><div class="col-4">
              
               <p id="Log-In-Text" align="center"> Create new account</p>
        <br>
        
        <form [formGroup]="logonForm" (ngSubmit)="onSubmit()">
            <p align="center">Username</p> <input type="text" formControlName="username">
            <br>
            <p align="center">Password</p> <input type="password" formControlName="password">
            <br>
            <p align="center">Confirm password</p> <input type="password" formControlName="password2">
            <br>
            <label>Sign up as teacher?</label>
            <input type="checkbox" id="check-box" [checked]="isTeacher" (change)="isTeacher = !isTeacher"/>
            <button type="submit" id="btn-SignUp">Sign Up</button>
        
        </form> 
            </div>
            </div>
    </div>

    <p-toast key="myKey1"></p-toast>
    <p-toast key="myKey2"></p-toast>
    
    