<div class="container" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
        <div class="col-4">
          
            You must log in with teacher account
    <br>
    
     
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        username: <input type="text" formControlName="username">
        <br>
        password: <input type="password" formControlName="password">
        <br>
        <button type="submit">Log in</button>
    
        <button type="button" (click)="onClick()"> New account</button>
        <div *ngIf="invalidAccount" style="color: red;">
                Contul este gresit!
            </div>
    </form> 
        </div>
        </div>
</div>


