<div class="col-sm-12" style="margin-left: 100px; margin-top: 60px;">
        <div class="card text-white bg-secondary mb-3" style="height: 220px; width: 220px; border-radius: 25px;">
                <div class="card-header">{{classroom?.name}}</div>
                <div class="card-body">
                  <p class="card-text">{{classroom?.description}}</p>
                    <p class="card-text">Numar studenti:??</p>
                    <a (click)="onClick()" class="btn btn-primary">Access classroom</a>
                </div>
              </div>   
  </div>

